.gradient-line {
    height: 2px;
    border: none;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    background-size: 300% 100%; /* Extend the gradient to cover three times the width */
    animation: glowAnimation 2s linear infinite; /* Apply the glow animation */
}

@keyframes glowAnimation {
    0% {
        background-position: 0 0; /* Initial position of the gradient */
    }
    100% {
        background-position: 100% 0; /* Move the gradient to the end */
    }
}


.title {
    margin: 0 4rem;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    height: 15vh;
}
.inputText{
    width: 60%;
    height: 5vh;
    font-size: 1.3rem;
    color: #ECB3B3;
    background-color: #847676;
    border: none;
    border-radius: 15px;
    padding-left: 25px;
    position: absolute;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #ECB3B3;
    /* text-indent: 20px; */
  }
  
  input:focus {
    outline: none;
    border: none;
  }
  

  .button-85 {
    margin-top: 2rem;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 40px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 40px;
  }


  .mainText{
    margin-top: 3rem;
    width: 55%;
    font-size: 1.4rem;
    font-weight: 100;
    height: auto;
    line-height: 1.5rem;
  
  }
  
  .mainText p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
  }


  .Flipkart{
    /* padding: 1rem; */
    border: none;
    outline: none;
    color: rgb(184, 180, 180);
    background-color: black;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .Amazon{
    border: none;
    outline: none;
    color: rgb(184, 180, 180);
    background-color: black;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.8;
  }


  .common{
  margin: 1rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: rgb(234, 231, 231);
  background: linear-gradient(to left, black, rgb(79, 77, 77)); 
  border-radius: 15px;
  font-size: 1.5rem;
  opacity: 1;
}

.Flipkart:hover{
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.Amazon:hover{
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.image {
    width: 2rem;
    margin: 0 0.6rem;
    transition: transform 0.2s;
}

.image:hover {
    transform: scale(1.2);
}
